body{
    background-image: url(img/注册背景.jpg);
}
#div1{
    /*background-image: url(注册背景.jpg);*/
    /*border: 1px black solid;*/
    background-color: rgba(255,255,255,0.9);
    width: 350px;
    height: 450px;
    position: absolute;
    left: 70%;
    top: 200px;
}
#div4{
    /*background-image: url(注册背景.jpg);*/
    /*border: 1px black solid;*/
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ffffff;
    width: 350px;
    height: 340px;
    position: absolute;
    left: 70%;
    top: 200px;
}
#div2{
    /*background-image: url(注册背景.jpg);*/
    /*border: 1px black solid;*/
    /*color: white;*/
    width: 350px;
    height: 200px;
    position: absolute;
    left: 75%;
    top: 15px;
}
#div3{
    color: chartreuse;
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 92%;
}
#img1{
    width: 20%;
    height: 100px;
    /*位置千万不能丢*/
    position: absolute;
    left: 10%;
    top: 80px;
}
#span1{
    color: blue;
    cursor: pointer;
    font-size: small;
}
.put1{
    width: 220px;
    height: 30px;
}

